body {
    background-color: black;
    color: beige;
    width: 900px;
    margin: 20px auto;
    border: 2px solid red;
    padding: 20px;
}
  #container {
    border: 2px solid red;
    padding: 10px;
    margin: 20px auto;

    }
    h1 {
      text-align: center;
      font-size: 36px;
      color: red;
    }
    p {
        text-align: center;
        font-size: 18px;
    }
   h2 {
        text-align: center;
        font-size: 24px;
        color: red;
    }
    h3 {
        text-align: center;
        font-size: 15px;
        color: red;
    }
    hr {
        border: 1px solid red;
    }
    ul {
        list-style-type: square;
        text-align: center;
        color: red;
        list-style-position: inside;
        font-size: 20px;

    }
    #ai {
        width: 800px;
         margin: 20px;
        display: block;
        height: 470px;
        object-fit: cover;
    }
    #band {
        width:500px;
        display:block;
        margin: 10px auto;
        object-fit: contain;
    }
    nav a {
        font-weight: bold;
        color: red;
        text-decoration: underline;
        margin: 0 15px;
        font-size: 20px;
        border-top: 4px solid red;
        border-bottom: 4px solid red;
    }