/*Global Styles*/

body {
    background-color: gray;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;

}

.container {
    background-color: black;
    padding: 10px;
    border: 1px solid white;
    text-align: center;
    margin: 10px;
    margin-top: 25px;
    color: gray
}
a {
    color: white;
}
a:hover {
    color: black;

}
header {
    border-bottom: 2px solid gray;
    border: 3px solid gray
}
header h1 {
    font-size: 100px;
    color: gray;
    text-align: center;

}
h2 {
    font-size: 50px;
    color: gray;
    text-align: center;
}
h4 {
    font-size: 30px;
    color: gray;
    padding: 10px;
    text-align: center;
}
nav {
    text-align: center;
    margin-bottom: 20px;
}
nav ul {
    list-style-type: none;
    padding: 0;
}
nav li {
    display: inline;
    padding: 20px
}
nav li a {
    display: inline-block;
    background-color: gray;
    color: black;
    font-size: 25px;
    line-height: 30px;
    text-decoration: none;
    border-radius: 10px;
    border: 2px solid gray;
    padding: 10px;
}
nav li a:hover {
    background-color: black;
    color: white;
}
main h2 {
    text-align: center;
    color: gray;
}
footer {
    text-align: center;
    padding: 40px 0;
    border-top: 2px solid gray;
    margin-top: 20px;
}
.links {
    color: gray;
}

hr {
    border: 1px solid gray;
    margin: 20px 0;
}
.band {
    width: 50%;
    border: 2px solid gray;
    border-radius: 10px;
    box-shadow: 2px 2px 5px gray;
    margin-top: 20px;
    margin-bottom: 20px;
}
h3 {
    text-align: center;
    font-size: 30px;
    color: gray;
    margin-bottom: 40px;
}
#header_1 {
    width: 100%;
    height: 400px;
    
    
}
iframe {
    display: block;
    margin: 0 auto;
    border: 4px solid black;
    border-radius: 10px;
    height: 315;
    width: 560;
}
h1 {
    text-align: center;
    font-family: "Jolly Lodger", system-ui;
    font-weight: 400;
    font-style: normal;

}

ul li {
    font-size: 20px;
    padding: 10px 0;
    text-align: center;
    list-style-position: inside;
}
section,
aside {
    border: 2px solid gray;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    display: flex;

}
.paragraphs {
    font-size: 20px;
    border: 2px solid gray;
    border-radius: 10px;
    color: gray;
}
.headerimg {
    width: 50%
}
#banner {
    width: 100%
}
#container {
    background-color: black;
    padding: 10px;
    border: 1px solid white;
    text-align: center;
    margin: 0px;
    margin-top: 0px;
    display: flex;
    color: gray;
    font-size: 40px;
    gap: 10px;
}
#cpaside {
    color: gray;
    font-size: 25px;
    width: 75%;
}
