body {
    background-color: black;
    color: white;

}

img {
    display: block;
    margin: 0 auto;
    width: 100%;
}
#container {
    background-color: black;
    width: 80%;
    margin: 20px auto;
    border: 4px solid red;
    padding: 20px;

}
a {
    color: red;
}
a:hover {
    color: white;

}
header {
    padding: 40px;
    border-bottom: 2px solid red;
}
header h1 {
    font-size: 50px;
    color: red;
}
h2 {
    font-size: 50px;
    color: red;
    text-align: center;
}
h4 {
    font-size: 30px;
    color: red;
    padding: 10px;
    text-align: center;
}
nav {
    text-align: center;
    margin-bottom: 20px;
}
nav ul {
    list-style-type: none;
    padding: 0;
}
nav li {
    display: inline;
    padding: 20px
}
nav li a {
    display: inline-block;
    background-color: black;
    color: red;
    font-size: 25px;
    width: 100px;
    height: 30px;
    line-height: 30px;
    text-decoration: none;
    border-radius: 5px;
    border: 2px solid red;
}
nav li a:hover {
    background-color: red;
    color: black;
}
main h2 {
    text-align: center;
    color: red;
}
.multi_col {
    display: flex;
}
section, aside {
    border-radius: 20px;
    border: 2px solid red;
    margin: 20px;
    padding: 20px;
}
section {
    width: 90%;
}
aside {
    width: 50%;
}
footer {
    text-align: center;
    padding: 40px 0;
    border-top: 2px solid red;
    margin-top: 20px;
}
.links {
    color: red;
}
#page3banner {
    width: 100%;
    height: auto;
}
hr {
    border: 1px solid red;
}
.band {
    width: 75%;
    border: 2px solid red;
    border-radius: 10px;
    box-shadow: 2px 2px 5px red;
    margin-top: 20px;
    margin-bottom: 20px;
}
h3 {
    text-align: center;
    font-size: 20px;
    color: white;
    margin-bottom: 40px;
}