body {
    background-color: black;
    color: beige;
    width: 900px;
    margin: 20px auto;
    border: 2px solid red;
    padding: 20px;
}
  #container {
    border: 2px solid red;
    padding: 10px;
    margin: 20px auto;

    }
    h1 {
      text-align: center;
      font-size: 36px;
      color: red;
    }
    p {
        text-align: center;
        font-size: 18px;
        color: tan;
    }
   h2 {
        text-align: center;
        font-size: 24px;
        color: red;
    }
    h3 {
        text-align: center;
        font-size: 15px;
        color: tan;
    }
    hr {
        border: 1px solid red;
    }
    ul {
        list-style-type: square;
        text-align: center;
        color: red;
        list-style-position: inside;
        font-size: 20px;

    }
    #ai {
        width: 800px;
         margin: 20px;
        display: block;
        height: 470px;
        object-fit: cover;
    }
    #band {
        width:500px;
        display:block;
        margin: 10px auto;
        object-fit: contain;
    }
    nav a {
        color: red;
        font-size: 20px;
    }
    nav a:hover {
        color: whitesmoke;
        font-size: 22px;
        text-decoration: none;
    }
    footer {
        font-size: 14px;
        color: red;
        margin-top: 20px;
        padding: 10px;
        border-top: 4px solid red;
    }

    #header_1 {
        border: 2px solid red;
        width: 900px;
    }

    #header_2 {
        display: block;
        margin: 0 auto;
        width: 100%;
    }